{%load static%}
<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous"/>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}"/>
    <title>
        {% block title %}
        <!-- titulo de cada pagina -->
        {% endblock %}
    </title>
</head>

<body>
  <header class="mt-3">
    <nav class="header__nav navbar navbar-expand-lg">
        <div class="container-fluid">
          <a class="navbar-brand" href="#"><img src="{% static 'media/cherry.png' %}"/></a>
          <div class="collapse navbar-collapse header_right" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'media/search.png' %}"/></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'media/heart.png' %}"/></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#" ><img src="{% static 'media/carrito.png' %}"/></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'media/user.png' %}"/></a>
              </li>
              <li class="nav-item">
                <a class="nav-link" href="#"><img src="{% static 'media/menu.png' %}"/></a>
              </li>
            </ul>
          </div>
        </div>
      </nav>

  </header>
  <main id="content">
        <div id="box">
            {% block body %}
            
            {% endblock body %}
        </div>
  </main>
  <footer class="mb-3">
    <nav class="footer__nav navbar navbar-expand-lg">
      <div class="container-fluid footer__container">
        <ul class="navbar-nav w-100 d-flex justify-content-around">
          <li class="nav-item">
            <a class="nav-link" href="#"><img src="{% static 'media/face.png' %}"/></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://api.whatsapp.com/send?phone=573208773192"><img src="{% static 'media/wpp.png' %}"/></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="https://www.instagram.com/accesorioscherry.co/?hl=es-la"><img src="{% static 'media/insta.png' %}"/></a>
          </li>
        </ul>
      </div>
    </nav>
  </footer>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
</body>
</html>
